<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="css/index.css">
<body>
    <% include('../includes/nav.ejs') %>
    <header class="masthead text-black text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-4 mb-2 mb-md-0"><input class="form-control form-control-lg" type="text" placeholder="From"/> </div>
                            <div class="col-12 col-md-4 mb-2 mb-md-0"><input class="form-control form-control-lg" type="text" placeholder="To" /> </div>
                            <div class="col-12 col-md-4"><button class="btn btn-block btn-lg btn-primary" type="submit">Search</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    
    <div class="wrapper">
        <h2>Book your bus with these easy steps</h2>
        <div class="carousel owl-carousel">
            <div class="card card-1">
                Enter your starting point
            </div>
            <div class="card card-2">
                Enter your destination
            </div>
            <div class="card card-3">
                Click on the search button
            </div>
            <div class="card card-4">
                Select any available bus
            </div>
            <div class="card card-5">
                Click on book my bus button
            </div>
            <div class="card card-6">
                Pay and confirm the booking
            </div>
        </div>
    </div>
    <script>
      $(".carousel").owlCarousel({
        margin: 20,
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
        responsive: {
          0:{
            items:1,
            nav: false
          },
          600:{
            items:2,
            nav: false
          },
          1000:{
            items:3,
            nav: false
          }
        }
      });
    </script>
    
    <footer class="site-footer">
      <div class="container">
      <div style="text-align: center;" class = "row d-flex justify-content-center">
      You can contact us through:
      </div>
      <div style="text-align: center;" class = "row d-flex justify-content-center">
          Gmail <a style = "color: cornflowerblue;" href = "mailto: mybus0101@gmail.com"> :-  mybus0101@gmail.com </a> 
      </div>
      <hr>
    
      <div style="text-align: center;" class = "row d-flex justify-content-center">
          <a style = "color: cornflowerblue;" target="_blank" href="/about-us">About Us</a>
      </div>
    </footer>