<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="css/signup.css">
<body>
  
    <% include('../includes/nav.ejs') %>
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4">
          
          <form class="form-container" action="/signup" method="POST">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
           <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_O711lP.json" class="responsive" background="transparent"  speed="1"  style="width: 160px; height: 160px; margin: 0 auto;"  loop autoplay></lottie-player>
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Enter full name" name="name" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
          </div>
        </div>
    </div>