
body{
    background-image: url('../icon/8493.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 16px;
    font-family: Poppins;
}

.form-container{
    margin-top: 20%;
    padding: 5%;
    padding-top: 0%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    opacity: 0.9;
}

.form-group input{
    border-radius: 20px;
    opacity:0.7;
}

.form-control:valid{
    background-color: #ffffff99;
    color:#1a2228;    
}

.btn{
    border-radius: 20px;
    background-color: #253873;
    border-color: transparent;
    cursor: pointer;
    width: 100%;
}

.link{
    color:#002147;
    opacity:0.6;
}

.link:hover{
    color: #253873;
    opacity: 1;
}

.left{
    float: left;
}

.right{
    float: right;
}

.btn:hover,
  .btn:active , .btn:focus{
    background-color: #253873;
    color: white;
    opacity: 0.7;
    border: none;
    outline: none !important;
  }

.navbar {
    background-color: #253873;
    padding: .5rem 1rem;
}

@media (max-width: 700px) {
    body{
        background-image: url('./images/8493.jpg');
        background-position: contain;
    }
}

@media (max-width: 400px) {
    .navbar {
        background-color:#253873 ;
        padding: .5rem .5rem;
    }
    .navbar-brand{
        font-size: 0.9rem;
    }
}    